## Resolução desfio semana 9

Neste desafio deverá descobrir quais estudantes estão fazendo a prova apenas para treino.

Salve sua resposta em um arquivo chamado answer.csv com duas colunas: NU_INSCRICAO e IN_TREINEIRO.

3. Foi considerado treineiro o inscrito que tinha menos de 18 anos no primeiro dia de realização do exame (05/11/2016) e que não havia concluído o ensino médio e não o concluiria em 2016

In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns

In [3]:
%matplotlib inline
from IPython.core.pylabtools import figsize


figsize(12, 12)

sns.set()

In [4]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [9]:
list(train.columns)

['Unnamed: 0',
 'NU_INSCRICAO',
 'NU_ANO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_MUNICIPIO_NASCIMENTO',
 'NO_MUNICIPIO_NASCIMENTO',
 'CO_UF_NASCIMENTO',
 'SG_UF_NASCIMENTO',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_ESCOLA',
 'CO_MUNICIPIO_ESC',
 'NO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DEFICIENCIA_AUDITIVA',
 'IN_SURDO_CEGUEIRA',
 'IN_DEFICIENCIA_FISICA',
 'IN_DEFICIENCIA_MENTAL',
 'IN_DEFICIT_ATENCAO',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_AUTISMO',
 'IN_VISAO_MONOCULAR',
 'IN_OUTRA_DEF',
 'IN_SABATISTA',
 'IN_GESTANTE',
 'IN_LACTANTE',
 'IN_IDOSO',
 'IN_ESTUDA_CLASSE_HOSPITALAR',
 'IN_SEM_RECURSO',
 'IN_BRAILLE',
 'IN_AMPLIADA_24',
 'IN_AMPLIADA_18',
 'IN_LEDOR',
 'IN_ACESSO',
 'IN_TRANSCRICAO',
 'IN_LIBRAS',
 'IN_LEITURA_LABIAL',
 'IN_MESA_CADEIRA_RODAS',
 'IN_MESA_CADEIRA_SEPARADA',
 'IN_APOIO_PERNA',
 'IN_GUIA_INTERPRETE',
 'IN_MACA',
 'IN_COMPUTADOR',
 'IN_CADEIRA_ESPECIAL',
 'IN_CADEIRA_CANHOTO',
 'IN_CADEIRA_ACOLCHOADA',
 'IN_PROVA_DEITADO',
 'IN_MOBILIARIO_OBESO',
 'IN_LAMINA_OVERLAY',
 'IN_PROTETOR_AURICULAR',
 'IN_MEDIDOR_GLICOSE',
 'IN_MAQUINA_BRAILE',
 'IN_SOROBAN',
 'IN_MARCA_PASSO',
 'IN_SONDA',
 'IN_MEDICAMENTOS',
 'IN_SALA_INDIVIDUAL',
 'IN_SALA_ESPECIAL',
 'IN_SALA_ACOMPANHANTE',
 'IN_MOBILIARIO_ESPECIFICO',
 'IN_MATERIAL_ESPECIFICO',
 'IN_NOME_SOCIAL',
 'IN_CERTIFICADO',
 'NO_ENTIDADE_CERTIFICACAO',
 'CO_UF_ENTIDADE_CERTIFICACAO',
 'SG_UF_ENTIDADE_CERTIFICACAO',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TP_LINGUA',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025',
 'Q026',
 'Q027',
 'Q028',
 'Q029',
 'Q030',
 'Q031',
 'Q032',
 'Q033',
 'Q034',
 'Q035',
 'Q036',
 'Q037',
 'Q038',
 'Q039',
 'Q040',
 'Q041',
 'Q042',
 'Q043',
 'Q044',
 'Q045',
 'Q046',
 'Q047',
 'Q048',
 'Q049',
 'Q050']

In [19]:
train[['NU_INSCRICAO', 'NU_IDADE', 'TP_ST_CONCLUSAO','TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO',
       'TP_ANO_CONCLUIU', 'TP_PRESENCA_CN',  'TP_PRESENCA_CH',  'TP_PRESENCA_LC',  'TP_PRESENCA_MT']].head(50)

,NU_INSCRICAO,NU_IDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,TP_ANO_CONCLUIU,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,24,1,4,1,NaN,0,4,1,1,1,1
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,17,2,0,2,1.0,0,0,1,1,1,1
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,21,3,0,1,NaN,0,0,0,0,0,0
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,25,1,9,1,NaN,0,9,0,0,0,0
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,28,1,4,1,NaN,0,4,0,0,0,0
5,a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1,18,1,1,1,NaN,0,1,1,1,1,1
6,63b4e128e9ffe8ab27f5d093db1976ef4f353e0a,18,2,0,2,1.0,0,0,1,1,1,1
7,2eb189d4912f64b19d1967e8e84b6141aba18770,18,1,1,1,NaN,0,1,1,1,1,1
8,5822cb43e0800429be2084b3f86a63aaa73fa66c,16,2,0,2,1.0,0,0,1,1,1,1
9,94f7e277f87cd58e10a45da4ad5dd168651cf3ef,24,4,0,1,NaN,0,0,0,0,0,0
10,3c44449ad09dc6a72c77c3bd3b5fd06a6d3f66e8,29,1,8,1,NaN,0,8,1,1,1,1
11,6f721ecb245bd74eaeda78b8d8135e8adeba6dc0,17,2,0,2,1.0,0,0,1,1,1,1
12,70b1dacb515d1aecead8a53cb465a70fda4b62b6,27,1,7,1,NaN,0,7,1,1,1,1
13,8570b9be0b2b629d00743d0de77cd95a84a46fbc,19,1,2,1,NaN,0,2,0,0,0,0
14,67a173ad63a2a3f77c8905b49e83084b7c1cd6b0,18,1,2,1,NaN,0,2,1,1,1,1
15,4e17008781ab3d721804ffe992884f86c37dcb4c,18,1,1,1,NaN,0,1,0,0,0,0
16,6118b53a6c928609d5ec78f7b6ae463ee3f766e3,16,3,0,1,NaN,1,0,1,1,1,1
17,036bce628d802e0da1fc727057dd40e979a03ac3,24,2,0,2,1.0,0,0,1,1,1,1
18,e2550a9dbfe4dfa31af61ab8cbdd08de283fd7ba,20,1,1,1,NaN,0,1,1,1,1,1
19,fa8d39d295f07f351cbff175dcfe01a4cbb49ca3,21,4,0,1,NaN,0,0,1,1,0,0
20,bedf9d4bf2c29669d24ef9ed9fa4bb6b8a2b574b,18,2,0,2,1.0,0,0,1,1,1,1
21,5458db66588b99384d711f24a5e77d2befb2bec9,24,1,4,1,NaN,0,4,0,0,0,0
22,f2dda998a10d8f259dec0018a0a0aefafb66dcf7,24,1,6,1,NaN,0,6,0,0,0,0
23,fe981a60436f1d9e533a28c67dd66c72290ce7c7,17,3,0,1,NaN,1,0,0,0,0,0
24,f08085c95978cded4e8009e734772d2889c6ab1d,30,1,10,1,NaN,0,10,0,0,0,0
25,2600ee9cbb63e8dc65423f18d2f33c8ad198edfe,18,1,1,1,NaN,0,1,1,1,1,1
26,75182e8460c3cae7808fbe4c3475c15e232327dd,22,1,5,1,NaN,0,5,0,0,0,0
27,9f1f0f639f56faed5cdb4db727692f9a49f7818b,19,2,0,2,3.0,0,0,1,1,1,1
28,45837167deb9a4e1969d5d9bdb31e8bfe7c94017,19,2,0,2,1.0,0,0,1,1,1,1
29,e1268d2857278d8ec8055524bc29cc16b5c4174f,21,1,4,1,NaN,0,4,1,1,1,1
30,b6b8661c6a0867a13e83b584a0468d5e05804128,21,1,2,1,NaN,0,2,1,1,1,1
31,3982766156703660bd7c9662b663d250a68f2734,17,2,0,2,1.0,0,0,1,1,1,1
32,b82b9c8e6d995692aedfad5a31c0c14cfcf108f1,19,2,0,2,1.0,0,0,1,1,1,1
33,3b096a7385fbcd24adb5e622db6ec33ad81b711c,17,2,0,2,1.0,0,0,1,1,1,1
34,ab01ff1e35bb088cda3ccb34ee11e718cf49961c,24,1,6,1,NaN,0,6,1,1,1,1
35,91720b5fe48f70c5f4b21231f265badbb7965923,17,2,0,2,1.0,0,0,1,1,1,1
36,3f910c1717d215698a89b7774fae6aae9ce80a9b,18,2,0,2,1.0,0,0,1,1,1,1
37,51e2e191d63c9ce01f2474dfef6867d39bde0e22,17,2,0,2,1.0,0,0,0,0,0,0
38,160449496c59d74d6efaed45b00fd1802d7b8fe0,15,3,0,1,NaN,1,0,1,1,1,1
39,5c90f15a173eb63ffaff1dda01bb41959cea8ade,18,1,1,1,NaN,0,1,1,1,1,1
40,642546ecc2ac60f7533a50e51b3ced50d438fa2a,24,1,8,1,NaN,0,8,1,1,1,1
41,bcca1cc0d5b3005d943cd206eb899d1b0470d118,17,1,1,1,NaN,0,1,1,1,1,1
42,80657dbe741b33c3b8aa6627ff05d721fc473535,18,2,0,2,1.0,0,0,1,1,1,1
43,c9fe095eda5d50f8fd64a9066f0c5cfc66b742d3,18,2,0,2,1.0,0,0,1,1,1,1
44,ce018e1ed8c91f329f952c59abec1059d15544fc,16,3,0,1,NaN,1,0,1,1,1,1
45,15fb3ba785590aea2be363ee1b189f1e0c38d168,16,3,0,1,NaN,1,0,1,1,1,1
46,36c49582ac87ab0169f57407a7030d012e19db0f,18,2,0,2,1.0,0,0,1,1,1,1
47,272b3de95fdc0983aa22bd9cffa178a3a362ae43,19,1,1,1,NaN,0,1,1,1,1,1
48,0a90fb44346e04615bc4879b2769751e65740f7e,21,1,3,1,NaN,0,3,1,1,1,1
49,45baf0018e09111593b980febba5122c6045203b,19,2,0,2,1.0,0,0,1,1,1,1

In [10]:
list(test.columns)

['NU_INSCRICAO',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'TP_DEPENDENCIA_ADM_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_SABATISTA',
 'IN_GESTANTE',
 'IN_IDOSO',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'TP_LINGUA',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q006',
 'Q024',
 'Q025',
 'Q026',
 'Q027',
 'Q047']

In [23]:
#lista de inscritos que tem marcado = 1 no IN_TREINEIRO

train['IN_TREINEIRO'].value_counts()

0    11947
1     1783
Name: IN_TREINEIRO, dtype: int64

In [ ]:
#Passos para resolver ...

#1- primeiro usar aquele smote la pra pegar e deixar a msm quantidade de treineiros e nao treineiros
#acho que é melhor pegar e diminuir os nao treineiros

#2- depois que estiver tudo equilibrado, pegar e testar os algoritmos tipo o regressao logistica, arvore de decisao e o kmeans seila

#3- depois que rodar com cada um dos algoritmos, pegar e ver qual teve a melhor precisao, recal, acuracia e o f-socre